
<%- include('./partials/adminHeader')  %>

	<!-- ===========wrapper============= -->
	<div class="wrapper">
		<%- include('./partials/header')  %>
		<!-- ===========Innerpage-wrapper============= -->
		<section>
			<div class="content booking-content">
				<div class="in-content-wrapper">
					<div class="row no-gutters">

						<div class="col">
							<div class="heading-messages">
								<h3>Bookings</h3>
							</div><!-- End heading-messages -->
						</div><!-- End column -->
						
					</div><!-- End row -->

					<div class="box">

						<div class="row no-gutters">
							<div class="col">
								<table id="example" class="display table-hover table-responsive-xl">
									<thead>
										<tr>
											<th></th>
											<th>Name</th>
											<th>Mobile</th>
											<th>Email</th>
											<th>Arrive</th>
											<th>Depart</th>
											<th>Booking Type</th>
											<th>Status</th>
											<th>Payment</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>

										<tr>
											<td><img src="images/commenter-1.jpg" alt="table-img"
													class="img-fluid rounded-circle" width="40px"></td>
											<td>Shaheel</td>
											<td><a href="#">933322221</a></td>
											<td><a href="#">Shaheel@gmail.com</a></td>
											<td>11/06/2019</td>
											<td>15/06/2019</td>
											<td>Hotel</td>
											<td class="pending"><a href="#">Pending</a></td>
											<td class="unpaid"><a href="#">UnPaid</a></td>
											<td>
												<a href="#"><i class="fas fa-edit"></i></a>
												<a href="#"><i class="fas fa-trash-alt"></i></a>
											</td>
										</tr>
										<tr>
											<td><img src="images/commenter-2.jpg" alt="table-img"
													class="img-fluid rounded-circle" width="40px"></td>
											<td>Hunn dan</td>
											<td><a href="#">933334442</a></td>
											<td><a href="#">dan@gmail.com</a></td>
											<td>4/06/2019</td>
											<td>7/06/2019</td>
											<td>Tour</td>
											<td class="approved"><a href="#">Approved</a></td>
											<td class="paid"><a href="#">paid</a></td>
											<td>
												<a href="#"><i class="fas fa-edit"></i></a>
												<a href="#"><i class="fas fa-trash-alt"></i></a>
											</td>
										</tr>
										<tr>
											<td><img src="images/commenter-3.jpg" alt="table-img"
													class="img-fluid rounded-circle"></td>
											<td>Mary Jane</td>
											<td><a href="#">967835542</a></td>
											<td><a href="#">Jane@gmail.com</a></td>
											<td>8/06/2019</td>
											<td>12/06/2019</td>
											<td>Cruise</td>
											<td class="cancelled"><a href="#">Cancelled</a></td>
											<td class="unpaid"><a href="#">Unpaid</a></td>
											<td>
												<a href="#"><i class="fas fa-edit"></i></a>
												<a href="#"><i class="fas fa-trash-alt"></i></a>
											</td>
										</tr>
										
										<tr>
											<td><img src="images/commenter-1.jpg" alt="table-img"
													class="img-fluid rounded-circle" width="40px"></td>
											<td>Amar</td>
											<td><a href="#">967335522</a></td>
											<td><a href="#">amar@gmail.com</a></td>
											<td>11/06/2019</td>
											<td>15/06/2019</td>
											<td>Hotel</td>
											<td class="approved"><a href="#">Approved</a></td>
											<td class="paid"><a href="#">paid</a></td>
											<td>
												<a href="#"><i class="fas fa-edit"></i></a>
												<a href="#"><i class="fas fa-trash-alt"></i></a>
											</td>
										</tr>

									</tbody>
								</table>
							</div><!-- End column -->
						</div><!-- End row -->
					</div><!-- End Box -->
				</div><!-- End in-content-wrapper -->
			</div><!-- End booking-content -->
		</section>
		<!-- ===========End Innerpage-wrapper============= -->
		
	</div><!-- end wrapper -->













	<%- include('./partials/adminFooter')  %>