<%- include('./partials/header') %>
<!--============= PAGE-COVER =============-->
<section class="page-cover" id="about-cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">About Kosher</h1>
        <ul class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="active breadcrumb-item">About</li>
        </ul>
      </div>
      <!-- end columns -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end page-cover -->

<!--============== INNERPAGE-WRAPPER ==============-->
<section id="about-us-2" class="innerpage-wrapper">
  <div id="intro" class="innerpage-section-padding">
    <div class="container">
      <div class="row">
        <div
          class="col-12 col-md-12 col-lg-4 col-xl-4 text-center"
          id="intro-img"
        >
          <img src="images/about-us.jpg" class="img-fluid" alt="about-us" />
        </div>
        <!-- end columns -->

        <div class="col-12 col-md-12 col-lg-8 col-xl-8" id="intro-text">
          <div class="innerpage-heading">
            <h1>Who We Are</h1>
          </div>
          <!-- end innerpage-heading -->

          <p>
            Kosher Livings in Kalpetta, Wayanad is a trusted name for
            comfortable and affordable accommodation options, catering to the
            needs of students, professionals, and travelers. Located in a prime
            area of Wayanad, the PG/guest house offers convenient access to key
            destinations and popular landmarks. With a strong 4.0 rating based
            on 78 reviews, Kosher Livings is renowned for its commitment to
            quality, safety, and hospitality.
          </p>
          <p>
            Located within 14 km of Pookode Lake and 16 km of Karlad Lake in
            Kalpetta, Kosher Livings provides accommodation with seating area.
            This property offers access to a terrace, free private parking and
            free WiFi. The rooftop pool features a pool bar and fence. Fitted
            with a balcony, the units feature a flat-screen TV and a private
            bathroom with shower. The units are equipped with a safety deposit
            box and certain rooms here will provide you with mountain views. The
            homestay also provides guests with outdoor fireplace and a picnic
            area for a day out in the open. Lakkidi Viewpoint is 18 km from the
            homestay, while Heritage Museum is 19 km away. The nearest airport
            is Calicut International Airport, 89 km from Kosher Livings.
          </p>
          <p>
            At Kosher Livings, the focus is on providing guests with a
            hassle-free and enjoyable living experience. With a dedicated team
            managing the property, the PG/guest house ensures a clean, secure,
            and welcoming environment. Their customer-centric approach makes
            them a preferred choice for those seeking PG or guest house
            accommodations in Wayanad.
          </p>
        </div>
        <!-- end columns -->

        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
          <div id="features">
            <ul class="list-inline list-unstyled">
              <li class="list-inline-item">
                <div class="feature-block">
                  <span><i class="fa fa-wifi"></i></span>
                  <p>Free Internet</p>
                </div>
                <!-- end feature-block -->
              </li>
              <li class="list-inline-item">
                <div class="feature-block">
                  <span><i class="fa fa-leaf"></i></span>
                  <p>Spa & Beauty</p>
                </div>
                <!-- end feature-block -->
              </li>
              <li class="list-inline-item">
                <div class="feature-block">
                  <span><i class="fa fa-dribbble"></i></span>
                  <p>Sports Activity</p>
                </div>
                <!-- end feature-block -->
              </li>
              <li class="list-inline-item">
                <div class="feature-block">
                  <span><i class="fa fa-car"></i></span>
                  <p>Airport Taxi</p>
                </div>
                <!-- end feature-block -->
              </li>
              <li class="list-inline-item">
                <div class="feature-block">
                  <span><i class="fa fa-cutlery"></i></span>
                  <p>Breakfast</p>
                </div>
                <!-- end feature-block -->
              </li>
              <li class="list-inline-item">
                <div class="feature-block">
                  <span><i class="fa fa-television"></i></span>
                  <p>LCD View</p>
                </div>
                <!-- end feature-block -->
              </li>
            </ul>
          </div>
          <!-- end features -->
        </div>
        <!-- end columns -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end intro -->

  <div id="video" class="innerpage-banner-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="innerpage-heading">
            <h1>VIDEO TOUR</h1>
            <!-- <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Pellentesque eget commodo orci. Integer varius nibh eu mattis
              porta. Pellentesque dictum sem eget cursus semper. Nullam quis
              blandit lorem.
            </p> -->
          </div>
          <!-- end innerpage-heading -->

          <div class="embed-responsive embed-responsive-16by9" id="myvideo">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/0O2aH4XLbto"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>

          <button class="btn popup-youtube" id="play-button">
            <span><i class="fa fa-play"></i></span>
          </button>
        </div>
        <!-- end columns -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end video -->
</section>
<!-- end innerpage-wrapper -->

<%- include('./partials/footer') %>
