<%- include('./partials/header') %>

<!--============== PAGE-COVER ==============-->
<section class="page-cover" id="contact-cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">Contact Us</h1>
        <ul class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="active breadcrumb-item">Contact</li>
        </ul>
      </div>
      <!-- end columns -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end page-cover -->

<!--=============INNERPAGE-WRAPPER =============-->
<section id="contact-page" class="innerpage-wrapper">
  <div id="contact-blocks" class="section-padding">
    <div class="container text-center">
      <div class="row no-gutters">
        <div class="col-md-12 offset-xl-1 col-xl-10 offset-xl-1">
          <ul class="list-unstyled">
            <li>
              <div class="contact-block">
                <span><i class="fa fa-envelope"></i></span>
                <p>
                  Have a question, simply drop us an e-mail.
                </p>
                <p class="support" >kosherlivingsholiday@gmail.com</p>
              </div>
              <!-- end contact-block -->
            </li>
            <li>
              <div class="contact-block">
                <span><i class="fa fa-phone"></i></span>
                <p>
                  If you are on the go and still want to ask a question, simply
                  give us a call.
                </p>
                <p class="support">+91 81139 15515</p>
              </div>
              <!-- end contact-block -->
            </li>
            <li>
              <div class="contact-block">
                <span><i class="fa fa-map-marker"></i></span>
                <p>Bypass Link Road, Kalpetta</p>
                <p class="support">Wayanad, Kerala</p>
                <p class="support">673121</p>
              </div>
              <!-- end contact-block -->
            </li>
          </ul>
        </div>
        <!-- end columns -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end contact-blocks -->

  <div id="contact-form" class="innerpage-section-padding no-pd-top">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12 offset-xl-1 col-xl-10 offset-xl-1">
          <div class="innerpage-heading">
            <h1>Contact Us</h1>
            <p>
              Have questions or need assistance? We're here to help! Reach out
              to us for any inquiries, support, or feedback—we’d love to hear
              from you.
            </p>
          </div>
          <!-- end innerpage-heading -->

          <form id="frm_contact">
            <div class="row">
              <div class="col-md-6 slide-right-vis">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Your Name"
                    name="name"
                    id="name"
                  />
                </div>

                <div class="form-group">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Your Email"
                    name="email"
                    id="email"
                  />
                </div>

                <div class="form-group">
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Phone"
                    name="phone"
                    id="phone"
                  />
                </div>
              </div>
              <!-- end columns -->

              <div class="col-md-6 slide-left-vis">
                <div class="form-group">
                  <textarea
                    class="form-control"
                    placeholder="Your Message"
                    name="message"
                    id="message"
                  ></textarea>
                </div>
              </div>
              <!-- end columns -->
              <div class="col-md-12 text-center" id="result_msg"></div>
              <div class="col-md-12 butn text-center">
                <button
                  name="submit"
                  id="submit"
                  class="btn btn-padding btn-g-border bg-grey"
                >
                  Submit
                </button>
              </div>
              <!-- end butn -->
            </div>
            <!-- end row -->
          </form>
          <!-- end contact-form -->
        </div>
        <!-- end columns -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end contact-form -->
</section>
<!-- end innerpage-wrapper -->

<!--===== MAP ====-->
<section class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244.25002459458602!2d76.0887915637466!3d11.62332210476589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba60d0b80a18ae7%3A0x160ce11e4326afdb!2sOYO%2071338%20Kosher%20Livings!5e0!3m2!1sen!2sin!4v1740740976379!5m2!1sen!2sin"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>
<!-- end map -->

<script>
  document
    .getElementById("frm_contact")
    .addEventListener("submit", async function (event) {
      event.preventDefault();

      let formData = {
        name: document.getElementById("name").value,
        email: document.getElementById("email").value,
        phone: document.getElementById("phone").value,
        message: document.getElementById("message").value,
      };

      for (const key in formData) {
        if (!formData[key]) {
          await Swal.fire({
            icon: "warning",
            title: "Missing Information",
            text: `Please fill out the ${key} field.`,
          });
          return;
        }
      }

      let response = await fetch("/contact", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(formData),
      });

      let result = await response.json();
      document.getElementById("result_msg").innerHTML = `<p class="${
        result.success ? "text-success" : "text-danger"
      }">${result.message}</p>`;

      if (result.success) {
        document.getElementById("frm_contact").reset();
      }
    });
</script>

<%- include('./partials/footer') %>
