<%- include('./partials/header') %>

<!--=============== PAGE-COVER =============-->
<section class="page-cover" id="gallery-cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">Picture Gallery</h1>
        <ul class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="active breadcrumb-item">Gallery</li>
        </ul>
      </div>
      <!-- end columns -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end page-cover -->

<!--=============INNERPAGE-WRAPPER ===========-->
<section id="our-gallery" class="innerpage-wrapper">
  <div id="photo-gallery" class="innerpage-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
          <div class="page-heading">
            <h2>Picture <span>Gallery</span></h2>
            <p>
                Explore our stunning photo gallery showcasing beautiful moments, breathtaking views, and unforgettable experiences. Each picture tells a story, inviting you to be a part of our journey.
            </p>
          </div>
          <!-- end page-heading -->

          <div id="gallery">
            <div class="row">
              <div
                class="gallery-product col-12 col-md-6 col-lg-6 col-xl-6 no-padding"
              >
                <div class="gallery-block">
                  <a
                    href="images/gallery-2.jpg"
                    title="image-2"
                    class="with-caption gallery image-link"
                  >
                    <div class="gallery-img">
                      <img
                        class="img-fluid"
                        src="images/gallery-2.jpg"
                        alt="image-2"
                      />

                      <div class="gallery-mask">
                        <div class="gallery-title">
                          <h2>SPA and Beauty</h2>
                          <p>2 Pictures</p>
                        </div>
                        <!-- end gallery-title -->
                      </div>
                      <!-- end gallery-mask -->
                    </div>
                    <!-- end gallery-img -->
                  </a>
                </div>
                <!-- end gallery-block -->
              </div>
              <!-- end gallery-product -->

              <div
                class="gallery-product col-12 col-md-6 col-lg-6 col-xl-6 no-padding"
              >
                <div class="gallery-block">
                  <a
                    href="images/gallery-3.jpg"
                    title="image-3"
                    class="with-caption gallery image-link"
                  >
                    <div class="gallery-img">
                      <img
                        class="img-fluid"
                        src="images/gallery-3.jpg"
                        alt="image-3"
                      />

                      <div class="gallery-mask">
                        <div class="gallery-title">
                          <h2>SPA and Beauty</h2>
                          <p>2 Pictures</p>
                        </div>
                        <!-- end gallery-title -->
                      </div>
                      <!-- end gallery-mask -->
                    </div>
                    <!-- end gallery-img -->
                  </a>
                </div>
                <!-- end gallery-block -->
              </div>
              <!-- end gallery-product -->

              <div
                class="gallery-product col-12 col-md-6 col-lg-6 col-xl-6 no-padding"
              >
                <div class="gallery-block">
                  <a
                    href="images/gallery-4.jpg"
                    title="image-4"
                    class="with-caption gallery image-link"
                  >
                    <div class="gallery-img">
                      <img
                        class="img-fluid"
                        src="images/gallery-4.jpg"
                        alt="image-4"
                      />

                      <div class="gallery-mask">
                        <div class="gallery-title">
                          <h2>SPA and Beauty</h2>
                          <p>2 Pictures</p>
                        </div>
                        <!-- end gallery-title -->
                      </div>
                      <!-- end gallery-mask -->
                    </div>
                    <!-- end gallery-img -->
                  </a>
                </div>
                <!-- end gallery-block -->
              </div>
              <!-- end gallery-product -->

              <div
                class="gallery-product col-12 col-md-6 col-lg-6 col-xl-6 no-padding"
              >
                <div class="gallery-block">
                  <a
                    href="images/gallery-7.jpg"
                    title="image-7"
                    class="with-caption gallery image-link"
                  >
                    <div class="gallery-img">
                      <img
                        class="img-fluid"
                        src="images/gallery-7.jpg"
                        alt="image-7"
                      />

                      <div class="gallery-mask">
                        <div class="gallery-title">
                          <h2>SPA and Beauty</h2>
                          <p>2 Pictures</p>
                        </div>
                        <!-- end gallery-title -->
                      </div>
                      <!-- end gallery-mask -->
                    </div>
                    <!-- end gallery-img -->
                  </a>
                </div>
                <!-- end gallery-block -->
              </div>
              <!-- end gallery-product -->

              <div
                class="gallery-product col-12 col-md-6 col-lg-6 col-xl-6 no-padding"
              >
                <div class="gallery-block">
                  <a
                    href="images/gallery-8.jpg"
                    title="image-8"
                    class="with-caption gallery image-link"
                  >
                    <div class="gallery-img">
                      <img
                        class="img-fluid"
                        src="images/gallery-8.jpg"
                        alt="image-8"
                      />

                      <div class="gallery-mask">
                        <div class="gallery-title">
                          <h2>SPA and Beauty</h2>
                          <p>2 Pictures</p>
                        </div>
                        <!-- end gallery-title -->
                      </div>
                      <!-- end gallery-mask -->
                    </div>
                    <!-- end gallery-img -->
                  </a>
                </div>
                <!-- end gallery-block -->
              </div>
              <!-- end gallery-product -->

              <div
                class="gallery-product col-12 col-md-6 col-lg-6 col-xl-6 no-padding"
              >
                <div class="gallery-block">
                  <a
                    href="images/gallery-9.jpg"
                    title="image-9"
                    class="with-caption gallery image-link"
                  >
                    <div class="gallery-img">
                      <img
                        class="img-fluid"
                        src="images/gallery-9.jpg"
                        alt="image-9"
                      />

                      <div class="gallery-mask">
                        <div class="gallery-title">
                          <h2>SPA and Beauty</h2>
                          <p>2 Pictures</p>
                        </div>
                        <!-- end gallery-title -->
                      </div>
                      <!-- end gallery-mask -->
                    </div>
                    <!-- end gallery-img -->
                  </a>
                </div>
                <!-- end gallery-block -->
              </div>
              <!-- end gallery-product -->
            </div>
            <!-- end row -->
          </div>
          <!-- end gallery -->

          <div class="butn text-center">
            <a href="#" class="btn btn-padding btn-yellow">Load More</a>
          </div>
          <!-- end butn -->
        </div>
        <!-- end columns -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end photo-gallery -->
</section>
<!-- end our-gallery -->

<%- include('./partials/footer') %>
