<%- include('./partials/header') %>

<!--=============== PAGE-COVER =============-->
<section class="page-cover" id="gallery-cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">Picture Gallery</h1>
        <ul class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="active breadcrumb-item">Gallery</li>
        </ul>
      </div>
      <!-- end columns -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end page-cover -->

<!--=============INNERPAGE-WRAPPER ===========-->
<section id="our-gallery" class="innerpage-wrapper">
  <div id="photo-gallery" class="innerpage-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
          <div class="page-heading">
            <h2>Picture <span>Gallery</span></h2>
            <p>
                Explore our stunning photo gallery showcasing beautiful moments, breathtaking views, and unforgettable experiences. Each picture tells a story, inviting you to be a part of our journey.
            </p>
          </div>
          <!-- end page-heading -->
          
          <div id="gallery">
            <div class="row">
              <% if (galleries.length > 0) { %>
                <% galleries.forEach(image => { %>
                  <div class="gallery-product col-12 col-md-6 col-lg-4 col-xl-4 p-3">
                      <a href="<%= image.image %>" class="with-caption gallery image-link">
                    <div class="gallery-block" style="height: 350px; width: 350px;background-image: url(<%= image.image %>);background-size: cover;
                      background-position: center center;
                      background-repeat: no-repeat;">
                        
                      </div>
                      </a>
                  </div>
                <% }) %>
              <% } else { %>
                <p class="text-center">No images available in the gallery.</p>
              <% } %>
            </div>
          </div>

        </div>
        <!-- end columns -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end photo-gallery -->
</section>
<!-- end our-gallery -->

<%- include('./partials/footer') %>
