<%- include('./partials/header') %>

<!--============= PAGE-COVER =============-->
<section class="page-cover" id="event-listing-cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">Nearby Attractions</h1>
        <ul class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="active breadcrumb-item">Nearby Attractions</li>
        </ul>
      </div>
      <!-- end columns -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end page-cover -->

<!--=============INNERPAGE-WRAPPER ===========-->
<section id="event-listing" class="innerpage-wrapper">
  <div id="event-blocks" class="innerpage-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
          <div class="event-block">
            <div class="event-img" id="event-1">
              <div class="mask"></div>
              <!-- end mask -->

              <div class="event-features">
                <ul class="list-unstyled">
                  <li>
                    <span class="icon"><i class="fa fa-star"></i></span
                    ><span class="text">5 Star</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa fa-calendar"></i></span
                    ><span class="text">20 May, 2017</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa fa-clock-o"></i></span
                    ><span class="text">11:30 PM</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa fa-map-marker"></i></span
                    ><span class="text">MAIN HALL</span>
                  </li>
                </ul>
              </div>
              <!-- end event-features -->

              <div class="event-title">
                <h2>Music Concert</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                  diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                  aliquam erat volutpat.
                </p>
              </div>
              <!-- end event-title -->
            </div>
            <!-- end event-img -->
            <a
              href="/nearby-details"
              class="btn btn-lg btn-g-border btn-block"
              >View Details</a
            >
          </div>
          <!-- end event-block -->
        </div>
        <!-- end columns -->

        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
          <div class="event-block">
            <div class="event-img" id="event-2">
              <div class="mask"></div>
              <!-- end mask -->

              <div class="event-features">
                <ul class="list-unstyled">
                  <li>
                    <span class="icon"><i class="fa fa-star"></i></span
                    ><span class="text">5 Star</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa fa-calendar"></i></span
                    ><span class="text">20 May, 2017</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa fa-clock-o"></i></span
                    ><span class="text">11:30 PM</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa fa-map-marker"></i></span
                    ><span class="text">MAIN HALL</span>
                  </li>
                </ul>
              </div>
              <!-- end event-features -->

              <div class="event-title">
                <h2>Music Concert</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                  diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                  aliquam erat volutpat.
                </p>
              </div>
              <!-- end event-title -->
            </div>
            <!-- end event-img -->
            <a
              href="event-details.html"
              class="btn btn-lg btn-g-border btn-block"
              >View Details</a
            >
          </div>
          <!-- end event-block -->
        </div>
        <!-- end columns -->

        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
          <div class="event-block">
            <div class="event-img" id="event-3">
              <div class="mask"></div>
              <!-- end mask -->

              <div class="event-features">
                <ul class="list-unstyled">
                  <li>
                    <span class="icon"><i class="fa fa-star"></i></span
                    ><span class="text">5 Star</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa fa-calendar"></i></span
                    ><span class="text">20 May, 2017</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa fa-clock-o"></i></span
                    ><span class="text">11:30 PM</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa fa-map-marker"></i></span
                    ><span class="text">MAIN HALL</span>
                  </li>
                </ul>
              </div>
              <!-- end event-features -->

              <div class="event-title">
                <h2>Music Concert</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                  diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                  aliquam erat volutpat.
                </p>
              </div>
              <!-- end event-title -->
            </div>
            <!-- end event-img -->
            <a
              href="event-details.html"
              class="btn btn-lg btn-g-border btn-block"
              >View Details</a
            >
          </div>
          <!-- end event-block -->
        </div>
        <!-- end columns -->

        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
          <div class="event-block">
            <div class="event-img" id="event-4">
              <div class="mask"></div>
              <!-- end mask -->

              <div class="event-features">
                <ul class="list-unstyled">
                  <li>
                    <span class="icon"><i class="fa fa-star"></i></span
                    ><span class="text">5 Star</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa fa-calendar"></i></span
                    ><span class="text">20 May, 2017</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa fa-clock-o"></i></span
                    ><span class="text">11:30 PM</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa fa-map-marker"></i></span
                    ><span class="text">MAIN HALL</span>
                  </li>
                </ul>
              </div>
              <!-- end event-features -->

              <div class="event-title">
                <h2>Music Concert</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                  diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                  aliquam erat volutpat.
                </p>
              </div>
              <!-- end event-title -->
            </div>
            <!-- end event-img -->
            <a
              href="event-details.html"
              class="btn btn-lg btn-g-border btn-block"
              >View Details</a
            >
          </div>
          <!-- end event-block -->
        </div>
        <!-- end columns -->

        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
          <div class="event-block">
            <div class="event-img" id="event-5">
              <div class="mask"></div>
              <!-- end mask -->

              <div class="event-features">
                <ul class="list-unstyled">
                  <li>
                    <span class="icon"><i class="fa fa-star"></i></span
                    ><span class="text">5 Star</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa fa-calendar"></i></span
                    ><span class="text">20 May, 2017</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa fa-clock-o"></i></span
                    ><span class="text">11:30 PM</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa fa-map-marker"></i></span
                    ><span class="text">MAIN HALL</span>
                  </li>
                </ul>
              </div>
              <!-- end event-features -->

              <div class="event-title">
                <h2>Music Concert</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                  diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                  aliquam erat volutpat.
                </p>
              </div>
              <!-- end event-title -->
            </div>
            <!-- end event-img -->
            <a
              href="event-details.html"
              class="btn btn-lg btn-g-border btn-block"
              >View Details</a
            >
          </div>
          <!-- end event-block -->
        </div>
        <!-- end columns -->

        <div class="col-12 col-md-6 col-lg-4 col-xl-4">
          <div class="event-block">
            <div class="event-img" id="event-6">
              <div class="mask"></div>
              <!-- end mask -->

              <div class="event-features">
                <ul class="list-unstyled">
                  <li>
                    <span class="icon"><i class="fa fa-star"></i></span
                    ><span class="text">5 Star</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa fa-calendar"></i></span
                    ><span class="text">20 May, 2017</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa fa-clock-o"></i></span
                    ><span class="text">11:30 PM</span>
                  </li>
                  <li>
                    <span class="icon"><i class="fa fa-map-marker"></i></span
                    ><span class="text">MAIN HALL</span>
                  </li>
                </ul>
              </div>
              <!-- end event-features -->

              <div class="event-title">
                <h2>Music Concert</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                  diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                  aliquam erat volutpat.
                </p>
              </div>
              <!-- end event-title -->
            </div>
            <!-- end event-img -->
            <a
              href="event-details.html"
              class="btn btn-lg btn-g-border btn-block"
              >View Details</a
            >
          </div>
          <!-- end event-block -->
        </div>
        <!-- end columns -->

        <div class="col-12 col-md-12 col-lg-12 col-xl-12 text-center">
          <ol class="pagination justify-content-center">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
              </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true"
                  ><i class="fa fa-angle-right"></i
                ></span>
              </a>
            </li>
          </ol>
        </div>
        <!-- end columns -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end event-blocks -->
</section>
<!-- end innerpage-wrapper -->

<%- include('./partials/footer') %>
