<%- include('./partials/header') %>

<!--============= PAGE-COVER =============-->
<section class="page-cover" id="service-cover">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="page-title">Our Services</h1>
        <ul class="breadcrumb justify-content-center">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="active breadcrumb-item">Services</li>
        </ul>
      </div>
      <!-- end columns -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end page-cover -->

<!--=============INNERPAGE-WRAPPER ===========-->
<section id="our-services" class="innerpage-wrapper">
  <div id="services" class="innerpage-section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
          <div class="page-heading">
            <h2>Our <span>Awesome Services</span></h2>
            <!-- <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
              erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
              tation ullamcorper suscipit.
            </p> -->
          </div>
          <!-- end page-heading -->

          <div id="service-blocks">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <div class="service-block">
                  <span><i class="fa fa-wifi"></i></span>
                  <h2 class="service-name">Free Wifi</h2>
                  <p>
                    Stay connected with high-speed internet access throughout the property, available to all guests free of charge.
                  </p>
                </div>
                <!-- end service-block -->
              </div>
              <!-- end columns -->

              <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <div class="service-block">
                  <span><i class="fa fa-coffee"></i></span>
                  <h2 class="service-name">Hot Water</h2>
                  <p>Enjoy the convenience of hot water available anytime, ensuring a relaxing and comfortable experience throughout your stay.</p>

                </div>
                <!-- end service-block -->
              </div>
              <!-- end columns -->

              <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <div class="service-block">
                  <span><i class="fa fa-television"></i></span>
                  <h2 class="service-name">TV</h2>
                  <p>Experience endless entertainment with a wide range of TV channels to keep you entertained and relaxed throughout your stay.</p>
                </div>
                <!-- end service-block -->
              </div>
              <!-- end columns -->

              <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <div class="service-block">
                  <span><i class="fa fa-bed"></i></span>
                  <h2 class="service-name">Furniture</h2>
                  <p>Unwind and relax in our furniture to enhance your comfort and provide a cozy atmosphere during your stay.</p>

                </div>
                <!-- end service-block -->
              </div>
              <!-- end columns -->

              <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <div class="service-block">
                  <span><i class="fa fa-clock-o"></i></span>
                  <h2 class="service-name">Checking</h2>
                  <p>
                    Experience a hassle-free check-in and check-out process with our efficient and friendly front desk services.
                  </p>
                </div>
                <!-- end service-block -->
              </div>
              <!-- end columns -->

              <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <div class="service-block">
                  <span><i class="fa fa-black-tie"></i></span>
                  <h2 class="service-name">Reception</h2>
                  <p>
                    Our 24/7 reception desk is always available to assist you with any requests, ensuring a comfortable stay.
                  </p>
                </div>
                <!-- end service-block -->
              </div>
              <!-- end columns -->

              
            </div>
            <!-- end row -->
          </div>
          <!-- end service-blocks -->
        </div>
        <!-- end columns -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end services -->
</section>
<!-- end innerpage-wrapper -->

<%- include('./partials/footer') %>
