<!--========== FOOTER ==========-->
<section>
  <div id="footer-top" class="banner-padding">
    <div class="container">
      <div class="row">
        <div
          class="col-12 col-md-6 col-lg-4 col-xl-4 text-left"
          id="more-about"
        >
          <h2 class="footer-heading" style="color: #0fbe6a">
            <span style="color: #007fff">KOS</span>HER
          </h2>
          <p>
            Livings Holidays
          </p>
          <ul class="social-links list-inline list-unstyled">
            <li class="list-inline-item">
              <a href="https://www.instagram.com/kosher_livings?igsh=djB0OXZwZG53Znl2" target="_blank"
                ><span><i class="fa fa-instagram"></i></span
              ></a>
            </li>
            <!-- <li class="list-inline-item">
              <a href="#"
                ><span><i class="fa fa-twitter"></i></span
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#"
                ><span><i class="fa fa-google-plus"></i></span
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#"
                ><span><i class="fa fa-pinterest-p"></i></span
              ></a>
            </li> -->
          </ul>
        </div>
        <!-- end more-about -->

        <div class="col-12 col-md-6 col-lg-2 col-xl-2 text-left" id="company">
          <h4 class="footer-heading">Company</h4>
          <ul class="list-unstyled">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/room-list">Rooms</a></li>
            <li><a href="/gallery">Gallery</a></li>
          </ul>
        </div>
        <!-- end useful-links -->

        <div
          class="col-12 col-md-6 col-lg-3 col-xl-3 text-left"
          id="f-services"
        >
          <h4 class="footer-heading">Services</h4>
          <ul class="list-unstyled">
            <li>Restaurant</li>
            <li>Spa</li>
            <li>Meeting Rooms</li>
            <li>Free Wifi</li>
            <li>Rooms</li>
            <li>Food & Drinks</li>
          </ul>
        </div>
        <!-- end visit-us -->

        <div
          class="col-12 col-md-6 col-lg-3 col-xl-3 text-left"
          id="contact-us"
        >
          <h4 class="footer-heading">Contact Us</h4>
          <ul class="list-unstyled">
            <li>
              <span><i class="fa fa-map-marker"></i></span>Bypass Link Road, Kalpetta
            </li>
            <li>
              <span><i class="fa fa-phone"></i></span>+91 81139 15515,<br> <span style="margin-left: 35px;">+91 89435 15515</span>
            </li>
            <li>
              <span><i class="fa fa-envelope"></i></span>info@kosher.com
            </li>
          </ul>
        </div>
        <!-- end social-links -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end footer-top -->

  <div id="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6 col-xl-6" id="copyright">
          <p>© 2025 <a href="#">Kosher Livings</a>. All rights reserved.</p>
        </div>
        <!-- end columns -->

        <div class="col-12 col-md-6 col-lg-6 col-xl-6" id="terms">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="#">Terms & Condition</a>
            </li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <!-- end columns -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end footer-bottom -->
</section>
<!--Footer Section Ends-->

<!-- Page Scripts Starts -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/bootstrap.min4.3.1.js"></script>
<script src="js/jquery.flexslider.js"></script>

<script src="js/owl.carousel.min.js"></script>
<script src="js/custom-gallery.js"></script>
<script src="js/custom-navigation.js"></script>
<script src="vendors/gijgo-combined-1.9.13/js/gijgo.min.js"></script>
<script src="js/custom-flex.js"></script>
<script src="js/custom-owl.js"></script>

</body>
</html>