<!--========== FOOTER ==========-->
<section>
  <div id="footer-top" class="banner-padding">
    <div class="container">
      <div class="row">
        <div
          class="col-12 col-md-6 col-lg-4 col-xl-4 text-left"
          id="more-about"
        >
          <h2 class="footer-heading">
            <img src="/images/logo-dark.png" alt="" height="100px" width="160px">
          </h2>
          <p>
            Kosher Livings Holiday
          </p>
          <ul class="social-links list-inline list-unstyled">
            <li class="list-inline-item">
              <a href="https://www.instagram.com/kosher_livings?igsh=djB0OXZwZG53Znl2" target="_blank"
                ><span><i class="fa fa-instagram"></i></span
              ></a>
            </li>
            <!-- <li class="list-inline-item">
              <a href="#"
                ><span><i class="fa fa-twitter"></i></span
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#"
                ><span><i class="fa fa-google-plus"></i></span
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#"
                ><span><i class="fa fa-pinterest-p"></i></span
              ></a>
            </li> -->
          </ul>
          <!-- <div
            id="google_translate_element"
            class="google-translate-container"
            style="cursor: pointer;"
          >
            <i
              class="fa-solid fa-globe"
              onclick="googleTranslateElementInit()"
            ></i>
          </div>  -->
        </div>
        <!-- end more-about -->

        <div class="col-12 col-md-6 col-lg-2 col-xl-2 text-left" id="company">
          <h4 class="footer-heading">Company</h4>
          <ul class="list-unstyled">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/room-list">Rooms</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/nearby">Nearby</a></li>
            <li><a href="/ratings">Reviews</a></li>
          </ul>
        </div>
        <!-- end useful-links -->

        <div
          class="col-12 col-md-6 col-lg-3 col-xl-3 text-left"
          id="f-services"
        >
          <h4 class="footer-heading">Services</h4>
          <ul class="list-unstyled">
            <li>Free Wifi</li>
            <li>Rooms</li>
            <li>Hot Water</li>
            <li>TV</li>
            <li>Furniture</li>
          </ul>
        </div>
        <!-- end visit-us -->

        <div
          class="col-12 col-md-6 col-lg-3 col-xl-3 text-left"
          id="contact-us"
        >
          <h4 class="footer-heading">Contact Us</h4>
          <ul class="list-unstyled">
            <li>
              <span><i class="fa fa-map-marker"></i></span>Bypass Link Road, Kalpetta
            </li>
            <li>
              <span><i class="fa fa-phone"></i></span>+91 81139 15515,<br> <span style="margin-left: 35px;">+91 89435 15515</span>
            </li>
            <li>
              <span><i class="fa fa-envelope"></i></span>kosherlivingsholiday@gmail.com
            </li>
          </ul>
        </div>
        <!-- end social-links -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end footer-top -->

  <div id="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6 col-xl-6" id="copyright">
          <p>© 2025 Kosher Livings. All rights reserved.</p>
        </div>
        <!-- end columns -->

        <div class="col-12 col-md-6 col-lg-6 col-xl-6" id="terms">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="/terms-and-conditions">Terms & Conditions</a>
            </li>
            <li class="list-inline-item"><a href="/privacy-policy">Privacy Policy</a></li>
          </ul>
        </div>
        <!-- end columns -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end footer-bottom -->
</section>
<!--Footer Section Ends-->

<!-- Page Scripts Starts -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/bootstrap.min4.3.1.js"></script>
<script src="js/jquery.flexslider.js"></script>

<script src="js/owl.carousel.min.js"></script>
<script src="js/custom-gallery.js"></script>
<script src="js/custom-navigation.js"></script>
<script src="vendors/gijgo-combined-1.9.13/js/gijgo.min.js"></script>
<script src="js/custom-flex.js"></script>
<script src="js/custom-owl.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  !(function () {
    var e, t, n, a;
    window.MyAliceWebChat ||
      (((t = document.createElement("div")).id = "myAliceWebChat"),
      ((n = document.createElement("script")).type = "text/javascript"),
      (n.async = !0),
      (n.src = "https://widget.myalice.ai/index.js"),
      (a = (e = document.body.getElementsByTagName("script"))[
        e.length - 1
      ]).parentNode.insertBefore(n, a),
      a.parentNode.insertBefore(t, a),
      n.addEventListener("load", function () {
        let textLabel = window.innerWidth > 576 ? "Message Us" : "";
        MyAliceWebChat.init({
          selector: "myAliceWebChat",
          number: "918113915515",
          message: "",
          color: "#25D366",
          channel: "wa",
          boxShadow: "none",
          text: textLabel,
          theme: "light",
          position: "left",
          mb: "20px",
          mx: "20px",
          radius: "20px",
        });
      }));
  })();
</script>
<!-- Drift Live Chat Integration -->
<!-- <script>
  "use strict";

  !(function () {
    var t = (window.driftt = window.drift = window.driftt || []);
    if (!t.init) {
      if (t.invoked)
        return void (
          window.console &&
          console.error &&
          console.error("Drift snippet included twice.")
        );
      (t.invoked = !0),
        (t.methods = [
          "identify",
          "config",
          "track",
          "reset",
          "debug",
          "show",
          "ping",
          "page",
          "hide",
          "off",
          "on",
        ]),
        (t.factory = function (e) {
          return function () {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
          };
        }),
        t.methods.forEach(function (e) {
          t[e] = t.factory(e);
        }),
        (t.load = function (t) {
          var e = 3e5,
            n = Math.ceil(new Date() / e) * e,
            o = document.createElement("script");
          (o.type = "text/javascript"),
            (o.async = !0),
            (o.crossorigin = "anonymous"),
            (o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js");
          var i = document.getElementsByTagName("script")[0];
          i.parentNode.insertBefore(o, i);
        });
    }
  })();
  
  // Replace 'YOUR_DRIFT_ID' with your unique Drift ID
  drift.SNIPPET_VERSION = "0.3.1";
  drift.load("aviiir2wupw2");
</script> -->

<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      {
        pageLanguage: "en", // Your page's original language
        // includedLanguages: "ml,hi", // Translatable languages (Malayalam and Hindi)
        layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
      },
      'google_translate_element'
    );
  }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>
</html>