<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kosher Living Holidays</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="images/favicon.png" type="image/x-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i%7CPlayfair+Display:400,400i,700,700i,900,900i"
      rel="stylesheet"
    />

    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="css/bootstrap.min4.3.1.css" />

    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    
    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" id="cpswitch" href="css/yellow.css" />
    <link rel="stylesheet" href="css/responsive.css" />

    <!-- Owl Carousel Stylesheet -->
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/owl.theme.css" />

    <!-- Flex Slider Stylesheet -->
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" />

    <!--Date-Picker Stylesheet-->
    <link
      rel="stylesheet"
      href="vendors/gijgo-combined-1.9.13/css/gijgo.min.css"
    />

    <!-- Magnific Gallery -->
    <link rel="stylesheet" href="css/magnific-popup.css" />
  </head>

  <body id="homepage-2">
    <!--====== LOADER =====-->
    <div class="loader"></div>

  <div class="header-absolute">
    <nav
      class="navbar navbar-expand-xl navbar-custom fixed-top header-1"
      id="main_navbar"
    >
      <div class="container">
        <a href="/" class="navbar-brand" style="color: #0fbe6a"
          ><span style="color: #007FFF">KOS</span>HER</a
        >
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
        >
          <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item dropdown">
              <a
                href="/"
                id="navbarDropdown"
                class="nav-link"
                >Home</span
              ></a>
            </li>

            <li class="nav-item dropdown">
              <a href="/about" class="nav-link" 
                ><span>About</span
              ></a>
            </li>

            <li class="nav-item dropdown">
              <a href="/room-list" class="nav-link" data-toggle="dropdown"
                >Rooms<span><i class="fa fa-angle-down"></i></span
              ></a>
              <ul class="dropdown-menu mshow">
                <li>
                  <a class="dropdown-item" 
                  href="/room-details?roomType=deluxe"
                    >Deluxe Room</a
                  >
                </li>

                <li>
                  <a
                    class="dropdown-item"
                    href="/room-details?roomType=twin"
                    >Twin Room</a
                  >
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a href="/gallery" class="nav-link" 
                ><span>Gallery</span
              ></a>
            </li>
           
            <li class="nav-item dropdown">
              <a href="/nearby" class="nav-link" 
                ><span>Nearby</span
              ></a>
            </li>
           
            <li class="nav-item dropdown">
              <a href="/contact" class="nav-link"
                ><span>Contact</span
              ></a>
             
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reservation"
                >Book Now</a
              >
            </li>
          </ul>
        </div>
        <!-- end navbar collapse -->
      </div>
      <!-- end container -->
    </nav>
    <!-- end navbar -->
  </div>
  <!-- end header-absolute -->